.card {
    border: 1px solid #ccc;
    border-radius: 20px;
    flex-direction: column;
    width: 15%;
    margin-right: 10px;
    padding: 10px;
    height: 400px;
}

.card button {
    border: 1px solid blue;
    background-color: white;
    color: blue;
    padding: 10px;
}

.card button:hover {
    background-color: blue;
    transition: all 1s ease;
    color: white;
}
