.App {
  text-align: center;
}

.card-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.footer-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

hr {
  width: 50%;
}


